<form>
    <md-slide-toggle
    [color]="primary"
[checked]="workingDay"
    (change)="onWorkingDayStatusChange()"
    >
  Working today 
</md-slide-toggle>
<p>val:{{disableControls}}</p>
  <br/>
  <form [formGroup]="timesheetEntryGroup" novalidate>
    <div>
      <md-form-field>
        <input type="text" 
                disabled="true" 
                placeholder="Select a contract" 
                mdInput 
                formControlName="contractControl" 
                >
      </md-form-field>
        
        <md-option *ngFor="let contractOption of contractOptions" [value]="contractOption" disabled="{{disableControls}}">
          {{ contractOption }}
        </md-option>
      
      <br/>
      <md-form-field>
        <input mdInput type="number" 
                disabled = true
                placeholder="Enter work amount" 
                step="25" 
                min="0" 
                max="100"
                formControlName="workAmountControl">
                <span mdSuffix>%</span>
        <md-hint align="start">As a % of the day</md-hint>
      </md-form-field>
    </div>
  </form>
<br/>
<br/>
<button md-raised-button color="primary">Submit</button>
</form>
<p>Form value: {{ timesheetEntryGroup.value | json }}</p>
<p>Form status: {{ timesheetEntryGroup.status | json }}</p>
