<form>
    <md-slide-toggle
    [color]="primary"
[checked]="workingDay"
    (change)="onWorkingDayStatusChange()"
    >
  Working today 
</md-slide-toggle>
<p>val:{{disableControls}}</p>
  <br/>
  <md-form-field>
    <input type="text" disabled="true" placeholder="Select a contract" mdInput [formControl]="myControl" [mdAutocomplete]="auto">
 </md-form-field>
  <md-autocomplete #auto="mdAutocomplete">
  <md-option *ngFor="let option of options" [value]="option" disabled="{{disableControls}}">
     {{ option }}
  </md-option>
</md-autocomplete>
<br/>
<md-form-field>
  <input mdInput type="number" placeholder="Enter work amount" step="25" min="0" max="100"><span mdSuffix>%</span>
  <md-hint align="start">As a % of the day</md-hint>
</md-form-field>
<br/>
<br/>
<button md-raised-button color="primary">Submit</button>
</form>
